*~
*.aux
*.log
*#
*.out
*.sh
*~
.ipynb_checkpoints/
*.mat*
*solution*.ipynb*
*Solution.ipynb*
send-mail*.ipynb
.gitsecret/keys/random_seed
!*.secret
./exams/partial-exam-2/MR2007-partial-2-fall19.pdf
./exams/partial-exam-2/MR2007-partial-2-fall19.tex
